node_modules
.git
.github
.turbo
.vscode
.idea
**/.env
**/.env.*
!**/.env.example
apps/web
apps/server/uploads
apps/server/dist
apps/server/bruno
**/coverage
**/*.log
**/.DS_Store
README.md
DEPLOY.md
